.first-sect{
	display: flex;
	height: 703px;
	position: relative;
	z-index: 1;
	@media (max-width: 1200px) {
		flex-flow: column;
		height: 100%;
	}
	&-left, &-right{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&-left{
		width: 55%;
		position: relative;
		z-index: -2;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: 1200px) {
			width: 100%;
			order: 1;
			min-height: 400px;
		}
		&__headline{
			margin: 0 0 0 auto;
			position: relative;
			z-index: 5;
			transform: translate(0);
			@media (max-width: 1200px) {
				margin: 0 auto;
				text-align: center;
			}
			p{
				width: 60%;
				font-size: 30px;
				line-height: 1.1;
				color: #fff;
				margin: 5px 0 50px;
				@include media-breakpoint-down(xl){
					font-size: fs(14, 24, 320, 1500);
				}
				@media (max-width: 1200px) {
					margin: 0 auto 20px;
				}
			}
		}
	}
	&-right{
		width: 45%;
		position: relative;
		// z-index: 5;
		@media (max-width: 1200px) {
			width: 100%;
			min-height: 500px;
		}
		&::before{
			content: '';
			position: absolute;
			width: 597px;
			height: 643px;
			z-index: -1;
			top: 50%;
			transform: translateY(-50%);
			left: -200px;
			border: 2px solid #fff;
		}
	}
}