.brands-banner{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 159px;
	.brands-banner__caption{
		text-align: right;
		// @media (max-width: 1200px) {
		// 	visibility: hidden;
		// 	position: absolute;
		// }
		h1{
			opacity: 0.45;
			font-size: 76px;
			text-transform: uppercase;
			padding: 40px 0 0 0;
		}
	}
}


.brands-items{
	background-color: #fefcf9;
	padding: 67px 0 0 0;
}

.brands-items-list {
	// margin: 0 ;
	margin: 60px -22px 0;
	@include media-breakpoint-down(xl){
		justify-content: center;
	}
}

.brand__item {
	width: 264px;
	height: 264px;
	text-align: center;
	transition: box-shadow .3s ease-in-out;
	position: relative;
	background-color: #ffffff;
	border-radius: 50%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	&:hover {
		box-shadow: 0 0 59px rgba(116, 97, 69, 0.25);
		&::before {
			opacity: 0.3;
		}
		.brand__item-btn-wrapper {
			&::before{
				opacity: 1;
			}
		}
		.btn-primary {
			color: #ffffff;
			&::before {
				opacity: 0;
			}
			&::after {
				opacity: 0;
			}
			span {
				&::after {
					display: none;
				}
			}
		}
	}
	
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid #d2b78c;
		opacity: 0;
		transition: opacity .3s ease-in-out;
		border-radius: 50%;
	}
	
	&-wrapper {
		padding: 11px 12px;
		width: 264;
		// @include media-breakpoint-down(xl){
		// 	width: auto;
		// }
	}
	
	
	&-img {
		width: 160px;
		height: 93px;
		img{
			max-width: 100%;
		}
	}
	&-title {
		color: #000000;
		font-size: 18px;
		font-weight: bold;
		line-height: 17.97px;
		margin-bottom: 35px;
		font-family: 'SimeizDemiC';
		border-top: 1px solid $cow;
		padding: 10px 0 0;
		margin: 10px 0 0;
		max-width: 170px;
		height: 47px;
	}

	&-btn-wrapper {
		width: 120px;
		margin: 17px auto 0;
		background-color: transparent;
		transition: background-color .3s ease-in-out;
		position: relative;
		cursor: pointer;
		.btn-primary{
			&::before{
				display: none;
			}
		}
		
		&::after {
			content: '';
			width: 20px;
			background-color: #fff;
			position: absolute;
			bottom: -2px;
			top: -2px;
			left: 0;
			right: 0;
			margin: 0 auto;
			opacity: 1;
		}
	
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			background-color: #ff8e00;
			transition: opacity .3s ease-in-out;
			z-index: 2;
		}
	}
}




// Brand Single Card *************************************************************

.brand-card-banner{
	border: 1px solid #000;
	display: flex;
	background: #2f2f2c;
	@media (max-width: 1200px) {
		flex-flow: column wrap;
		height: 100%;
		.brand-card-banner__left{
			&::after{
				width: auto!important;
				border: 1px solid #f7f6fb!important;
				left: 5%!important;
				right: 5%!important;
			}
		}
	}
	.brand-card-banner__left{
		padding: 5.2rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 35%;
		position: relative;
		overflow: hidden;
		@media (max-width: 1200px) {
			width: 100%;
		}
		.brand-card-banner-caption{
			@media (max-width: 1200px) {
				display: flex;
				justify-content: space-evenly;
				width: 100%;
				align-items: center;
				flex-flow: wrap;
				padding: 0 40px;
				h2{
					margin-bottom: 0!important;
				}
			}
			&__img{
				width: 234px;
				img{
					max-width: 100%;
				}
			}
			h2{
				color: #fff;
				font-size: 5.25rem;
				margin-bottom: 1.25rem;
				text-transform: capitalize;
			}
		}
		&::after{
			content: '';
			display: block;
			border: 2px solid #fff;
			height: 20rem;
			width: 5rem;
			position: absolute;
			right: -1rem;
			top: 2.6rem;
		}
	}
	.brand-card-banner__right{
		background-size: cover;
		background-repeat: no-repeat;
		width: 65%;
		position: relative;
		@media (max-width: 1200px) {
			width: 100%;
		}
		.brand-card-banner-slider{
			position: absolute;
			top: 4.1rem;
			left: -2.5rem;
			@media (max-width: 1200px) {
				position: relative;
				top: -50px;
				left: 0;
				.brand-card-product{
					max-width: 20rem!important;
					margin: 0 auto;
				}
			}
			.brand-card-product{
				max-width: 17rem;
			}
		}
		.brand-card-slider-arrow{
			position: absolute;
			top: 10rem;
			right: 8.5rem;
			background: #fff;
			opacity: 0.9;
			height: 6rem;
			width: 6rem;
			border-radius: 50%;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 2;
			@media (max-width: 1200px) {
				position: relative;
			}
			img{
				width: 50%;
				&::selection {
					background: none;
				}
			}
			&:hover{
				transition: .4s ease-in-out;
				opacity: 1;
				-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
			}
		}
	}
}

.owl-theme .owl-dots {
	display: flex;
	position: absolute;
	right: 0;
	@media (max-width: 1200px) {
		right: 50%;
		transform: translateX(50%);
		bottom: -50px;
	}
}
	.owl-theme .owl-dots .owl-dot {
		display: block; }
		.owl-theme .owl-dots .owl-dot span {
			display: block;
			width: 2rem;
			height: 0.25rem;
			transition: background-color .4s ease;
			border-radius: 0;
			margin: 0 10px 0 0;
			background-color: #fff; }
		.owl-theme .owl-dots .owl-dot.active span {
			background-color: #ffa337;
			
		}
		.owl-theme .owl-dots .owl-dot:hover span {
			background-color: #ffa337; }

.phone-block img {
	margin-right: 0.5rem; }

.phone-block img:nth-child(2) {
	display: none; }

.logo {
	height: auto; }

.search img:last-child {
	display: none; }


.brand-history__wrap{
	display: flex;
	margin: 0 auto;
	justify-content: center;
	max-width: 70rem;
	padding: 3rem 0;
	@media (max-width: 1200px){
		padding: 0;
		flex-flow: wrap;
	}
	.brand-history__left{
		width: 100%;
		max-width: 34rem;
		@media (max-width: 1200px){
			margin: 20px 0 0;
			order: 1;
		}
		video{
			min-height: 22rem;
			max-width: 33rem;
			width: 100%;
			width: 100%;
			outline: none;
			object-fit: cover;
		}
	}
	.brand-history__right{
		padding-left: 3rem;
		max-width: 40rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (max-width: 1200px){
			width: 100%;
			padding: 0;
		}
		.brand-history-title{
			font-size: 2.5rem;
			color: #d2b78c;
			font-family: 'Simeiz';
			&::after{
				content: '';
				display: block;
				height: 2px;
				width: 100%;
				max-width: 7.5rem;
				background: #d2b78c;
				margin-top: 0.7rem;
			}
		}
	.brand-history-text{
			font-size: 1rem;
			margin-top: 1.5rem;
			margin-bottom: 0;
		}
	}
}


.brand-card-banner .brand-card-banner__right .brand-card-slider-arrow-prev {
	position: absolute;
	top: 10rem;
	left: 8.5rem;
	background: #fff;
	opacity: 0.9;
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 2; }
	.brand-card-banner .brand-card-banner__right .brand-card-slider-arrow-prev img {
		width: 50%;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg); }
		.brand-card-banner .brand-card-banner__right .brand-card-slider-arrow-prev img::-moz-selection {
			background: none; }
		.brand-card-banner .brand-card-banner__right .brand-card-slider-arrow-prev img::selection {
			background: none; }
	.brand-card-banner .brand-card-banner__right .brand-card-slider-arrow-prev:hover {
		-webkit-transition: .4s ease-in-out;
		transition: .4s ease-in-out;
		opacity: 1;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }