
.filter-open-active{
	width: 85% !important;
	border-right: 1px solid #951400;
}

.filter-open{
	width: 0;
	position: fixed;
	z-index: 200;
	top: 91px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	overflow-y: auto;
	transition: width .3s ease;
	&-wrap{
		max-width: 93.75em;
		margin: 0 auto;
		padding: 0 15px;
		.filter-open__head{
			margin-top: 50px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 10px;
			.filter-open__head--headline{
				display: flex;
				align-items: center;
				h2{
					font-size: 36px;
					font-weight: 400;
					margin-left: 15px;
				}
			}
			.filter-open__head--btn{
				font-size: 40px;
				transition: color .4s ease, transform .4s ease;
				cursor: pointer;
				&:hover{
					color: $accent;
					transform: scale(1.05);
				}
				}
			}
		.filter-open__body{
			display: flex;
			justify-content: space-evenly;
			flex-flow: wrap;
			.filter-category:not(:last-child){
				margin-right: 30px;
			}
			.filter-category {
				&__headline {
					text-transform: uppercase;
					margin: 27px auto;
					text-align: center;
				}
				ul{
					li{
						margin-bottom: 7px;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						input[type="checkbox"] + label::before{
							margin: 0 10px 0 0;
						}
						input[type="radio"] + label::before{
							margin: 0 10px 0 0;
						}
					}
				}
			}
		}
		.filter-open__footer{
			display: flex;
			position: relative;
			justify-content: flex-end;
			align-items: center;
			position: relative;
			margin: 30px 0;
			.btn-slide{
				margin: 0 30px 0 0;
				padding: 3px 13px;
				@media (max-width: 568px) {
					font-size: 10px;
					letter-spacing: normal;
					line-height: 1.2;
					text-align: center;
				}
			}
		}
	}
}