.footer {
	background-color: #1e1e1c;
	height: 272px;
	border-bottom: solid #d2b78c 7px;
	padding-top: 64px;
	position: relative;
	
	&::before{
		content: '';
		position: absolute;
		top: 9px;
		right: 0;
		left: 0;
		height: 1px;
		background-color: #d2b78c;
	}
	
	&-title {
		color: #b29c77;
		font-family: "Simeiz";
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 18px;
	}
	.text-white{
		color: #fff;
	}

	.logo{
		margin: -10px 82px 0 0;
	}
	
	.icon-header-icon-inst{
		background-image: url("../img/svg-src/footer-ic.png");
		height: 28px;
		width: 28px;
	}
	
	.social-icon{
		margin-top: 64px;
	}
	
	.phone__order{
		margin: 0 0 52px;
		background-color: #1e1e1c;
	}
	
	.phone__order-btn-wrapper::after{
		background-color: #1e1e1c;
	}
}

.site-map {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	
	a {
		color: #ffffff;
		font-family: "HelveticaNeueCyr";
		font-size: 12px;
		font-weight: 400;
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 0;
		transition: padding-left .3s ease-in-out;
		
		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			background-color: transparent;
			transition: width .3s ease-in-out;
			left: 0;
			top: 10px;
		}
	}
	
	li {
		&:not(:last-child) {
			margin-bottom: 18px;
		}
		
		&.active {
			a {
				color: #ffa337;
				padding-left: 30px;
				
				&::before {
					width: 25px;
					background-color: #ffa337;
				}
			}
		}
		
		&:hover {
			a {
				color: #ffa337;
				padding-left: 30px;
				
				&::before {
					width: 25px;
					background-color: #ffa337;
				}
			}
		}
	}
}

.ul-contact {
	margin: 0;
	padding: 0;
	list-style: none;
	
	.text {
		color: #ffffff;
		font-size: 12px;
		font-weight: 400;
		font-family: "HelveticaNeueCyr";
		font-weight: 400;
		
		.italic {
			font-style: italic;
		}
	}
	
	a {
		color: inherit;
	}
	
	li {
		display: flex;
		align-items: center;
		
		img{
			margin-right: 15px;
		}
		
		&:not(:last-child) {
			margin-bottom: 17px;
		}
	}
}

.info-block{
	.ul-contact{
		li{
			.text{
				a{
					transition: color .3s ease;
					&:hover{
						color: $accent;
					}
				}
			}
		}
	}
	div:not(:last-child){
		margin-right: 90px;
	}
}


.phone__order-btn-wrapper{
	@media (max-width: 1200px) {
		display: none;
	}
}

.site-map{
	@media (max-width: 1200px) {
		display: none;
	}
}

.footer{
	@media (max-width: 1200px) {
		padding-top: 2rem;
		height: 100%;
		&::after{
			content: '';
			position: absolute;
			top: 0.5625rem;
			right: 0;
			left: 0;
			height: 0.0625rem;
			background-color:#d2b78c;
		}
	}
	.logo{
		@media (max-width: 1200px) {
			display: none;
		}
	}
}

.info-block{
	.ul-contact{
		li{
			.text{
				a{
					transition: color .3s ease;
					&:hover{
						color: $accent;
					}
				}
			}
		}
	}
	.footer-title:nth-child(-n+2){
		@media (max-width: 1200px) {
			display: none;
		}
	}
	div:not(:last-child){
		@media (max-width: 1200px) {
			// display: none;
		}
	}
}
.text-white{
	.footer-title{
		@media (max-width: 1200px) {
			display: block!important;
		}
	}
}

.mobile-wrap{
	@media (max-width: 1200px) {
		display: none;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
}

.info-block-mobile{
	@media (max-width:1200px) {
		flex-flow: column;
		justify-content: center;
		div{
			&:last-child{
				display: flex;
				.footer-title{
					margin: 0;
					justify-content: center;
					align-items: center;
				}
				.social-icon{
					margin: 0;
				}
			}
		}
	}
}

.footer-mobile{
	display: none;
	margin: 0 auto;
	.footer-mobile-contact{
		display: flex;
		flex-flow: wrap;
		@media (max-width:455px) {
			justify-content: center;
			li{
				margin: 7px 0;
			}
		}
		li{
			&:first-child{
				width: 230px;
			}
			.footer-mobile-contact-el{
				display: flex;
				&__img{
					width: 20px;
					margin-right: 13px;
					img{
						width: auto;
					}
				}
				.text{
					color: #fff;
					a{
						color: #fff;
						transition: color .3s ease;
						&:hover{
							color: $accent;
						}
					}
				}
			}
		}
	}
	.license-mobile{
		color: #fff;
		text-align: center;
		margin: 20px 0 0 0;
		span{
			color: $cow;
			font-size: 18px;
			font-family: 'Simeiz';
			margin: 0 70px 0 0
		}
	}
	.logo-company-developer{
		text-align: center;
		padding: 15px 0;
	}
}

.footer-mobile{
	@media (max-width: 1200px) {
		display: block;
	}
}