.header {
	position: relative;
	&-container{
		max-width: 97rem;
		margin: 0 auto;
		padding: 0 15px;
		width: 100%;
	}
	
	&::after {
		content: '';
		position: absolute;
		top: 50px;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: #1e1e1c;
	}
	
	&_top{
		padding-top: 10px;
	}
}

.logo{
	height: 72px;
}

.subheader {
	color: #ffffff;
	font-family: "HelveticaNeueCyr";
	font-size: 14px;
	font-weight: 400;
	line-height: 33.9px;
}

.subheader {
	position: relative;
	z-index: 3;
	
	a {
		color: inherit;
		font-family: "HelveticaNeueCyr";
		font-size: 14px;
		font-weight: 400;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: color .3s ease-in-out;
		
		&::before{
			content: '';
			width: 0;
			height: 2px;
			background-color: transparent;
			margin: -3px 6px 0 0;
			transition: all .3s ease-in-out;
		}
	}
	
	ul{
		margin: 12px 0 0 43px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	li{
		border-right: solid 1px #d2b78c;
		display: flex;
		justify-content: center;
		flex-grow: 0.5;
		
		&.subheader-active{
			a{
				color: #ffa337;
				
				&::before{
					width: 23px;
					background-color: #ffa337;
				}
			}
		}
		
		&:hover{
			a{
				color: #ffa337;
		
				&::before{
					width: 23px;
					background-color: #ffa337;
				}
			}
		}
		
		&:first-child{
			justify-content: flex-start;
			a{
				padding-left: 0;
				justify-content: flex-start
			}
		}
		
		&:last-child{
			border: none;
		}
	}
}

.list-inline {
	> li {
		display: inline-block;
	}
}

.nav-main {
	margin: 0;

	li{
		margin-left: 51px;
		
		&:first-child{
			margin-left: 44px;
		}
	}
	
	a{
		color: #000000;
		font-family: "HelveticaNeueCyr";
		font-size: 12px;
		font-weight: 400;
		line-height: 33.9px;
		transition: color .4s ease;
		&:hover{
			color: $accent;
		}
	}
}


.logo-wrapper {
	background-color: #fff;
	position: relative;
	z-index: 1;
	padding: 10px 14px;
	
	&::after {
		content: '';
		background-color: #1e1e1c;
		position: absolute;
		bottom: 0;
		right: -14px;
		top: 50px;
		width: 14px;
		border-radius: 12px 0 0;
	}
	
	&::before {
		content: '';
		background-color: #1e1e1c;
		position: absolute;
		bottom: 0;
		left: -14px;
		top: 50px;
		width: 14px;
		border-radius: 0 12px 0 0;
		z-index: 1;
	}
	
	.logo {
		&::before {
			content: '';
			background-color: #fff;
			position: absolute;
			bottom: 0;
			right: -14px;
			top: 38px;
			width: 14px;
		}
		
		&::after {
			content: '';
			background-color: #fff;
			position: absolute;
			bottom: 0;
			left: -14px;
			top: 38px;
			width: 14px;
		}
	}
}

.logo-wrapper-outside {
	position: relative;
	
	&::after {
		content: '';
		background-color: #fff;
		position: absolute;
		bottom: -4px;
		left: 0;
		right: 0;
		height: 5px;
		z-index: 2;
	}
}

.phone-block {
	img {
		margin: 0px 11px 0 0;
	}
	
	a {
		align-items: center;
		color: #000000;
		font-family: "HelveticaNeueCyr";
		font-size: 14px;
		font-weight: 400;
		line-height: 33.9px;
	}
}

.social-icon{
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
	}
	
	li{
		&:not(:last-child){
			margin-right: 10px;
		}
	}
	
	i{
		display: block;
	}
}

.search{
	label{
		margin: 0 36px 0 0;
		cursor: pointer;
	}
	
	i{
		display: inline-block;
	}
	
	input{
		display: none;
	}
}


.menu-btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#4a453a), to(#8d8165));
  background: linear-gradient(to top, #4a453a, #8d8165);
  padding: 0.6rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
  width: 100%;
  margin: .975rem 0;
  min-height: 2.5rem;
  border-radius: 50%;
	position: relative;
	border: 0;
  display: none; }
  .menu-btn span {
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 0.15rem;
    background: #fff;
    width: 1.6rem; }
    .menu-btn span::after {
      content: '';
      display: block;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      height: 0.15rem;
      background: #fff;
      width: 1.6rem;
      top: 0.4rem; }
    .menu-btn span::before {
      content: '';
      display: block;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      height: 0.15rem;
      background: #fff;
      width: 1.6rem;
      top: -0.4rem; }

.menu-close {
  background: -webkit-gradient(linear, left bottom, left top, from(#4a453a), to(#8d8165));
  background: linear-gradient(to top, #4a453a, #8d8165);
  padding: 0.6rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
  width: 100%;
  min-height: 2.5rem;
  border-radius: 50%;
  z-index: 99;
	position: absolute;
	border: 0;
  left: 1rem;
  top: 1rem; }
  .menu-close span {
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 0.15rem;
    background: #fff;
    width: 1.6rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
    .menu-close span::after {
      content: '';
      display: block;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      height: 0.15rem;
      background: #fff;
      width: 1.6rem;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }

.mobile-sidebar {
  background: #fff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  width: 100%;
  max-width: 35rem;
  left: -35rem;
  top: 0;
  position: fixed;
  opacity: 0;
  z-index: 10000;
  border-right: 0.6rem solid #a08e6e;
  padding: .975rem 0;
  overflow-y: auto;
  bottom: 0; }
  .mobile-sidebar.show-menu {
    left: 0;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    opacity: 1; }
  .mobile-sidebar .sidebar-top {
    text-align: center; }
    .mobile-sidebar .sidebar-top .logo-wrapper {
      padding: 0; }
    .mobile-sidebar .sidebar-top .logo-wrapper .logo a img {
      width: 100%;
      max-width: 8rem; }
  .mobile-sidebar .sidebar-menu {
    padding-left: 0;
    margin-top: 1.5rem;
    list-style: none; }
    .mobile-sidebar .sidebar-menu .sidebar-item .sidebar-link {
      padding: 1.25rem;
      display: block;
      border-top: 1px solid #ddd2b4;
      color: #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .mobile-sidebar .sidebar-menu .sidebar-item .sidebar-link img {
        width: 100%;
        max-width: 1.5rem; }
        .mobile-sidebar .sidebar-menu .sidebar-item .sidebar-link img:last-child {
          display: none; }
      .mobile-sidebar .sidebar-menu .sidebar-item .sidebar-link:hover {
        background: #3d3935;
        color: #fff; }
        .mobile-sidebar .sidebar-menu .sidebar-item .sidebar-link:hover img:first-child {
          display: none; }
        .mobile-sidebar .sidebar-menu .sidebar-item .sidebar-link:hover img:last-child {
          display: block; }
    .mobile-sidebar .sidebar-menu .sidebar-item:last-child .sidebar-link {
      border-bottom: 1px solid #ddd2b4; }
  .mobile-sidebar .sidebar-submenu {
    padding: 0 1.25rem;
    margin-top: 2rem;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .mobile-sidebar .sidebar-submenu .sidebar-subitem {
      width: 100%;
      max-width: 48%;
      margin-bottom: 1rem; }
      .mobile-sidebar .sidebar-submenu .sidebar-subitem .sidebar-sublink {
        display: block;
        background: #ff8e00;
        color: #fff;
        font-size: 1rem;
        padding: 0.35rem 0 0.35rem 0.35rem;
        max-height: 2rem;
        width: 100%;
        -webkit-box-shadow: 0px 5px 12.74px 0.26px rgba(0, 0, 0, 0.29);
        box-shadow: 0px 5px 12.74px 0.26px rgba(0, 0, 0, 0.29); }
        .mobile-sidebar .sidebar-submenu .sidebar-subitem .sidebar-sublink img {
          width: 100%;
          max-width: 1.5rem;
          margin-top: -2px; }
  .mobile-sidebar .sidebar-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #ab9b78;
    margin: 0 1rem; }
    .mobile-sidebar .sidebar-socials li {
      max-width: 1.8rem;
      margin: 0 0.7rem; }
      .mobile-sidebar .sidebar-socials li img {
        width: 100%; }
      .mobile-sidebar .sidebar-socials li:last-child img {
        width: 55%;
				margin-top: -3px; }


@media (max-width: 1170px) {
  .search label {
    background: -webkit-gradient(linear, left bottom, left top, from(#4a453a), to(#8d8165));
    background: linear-gradient(to top, #4a453a, #8d8165);
    padding: 0.6rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
    min-height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.5rem; }
    .search label img:nth-child(2) {
      display: none; }
    .search label img:last-child {
      display: block;
      width: 100%; }
  .phone-block a {
    background: -webkit-gradient(linear, left bottom, left top, from(#4a453a), to(#8d8165));
    background: linear-gradient(to top, #4a453a, #8d8165);
    padding-top: 0.6rem;
    margin-top: -3px;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
    padding-bottom: 0.7rem;
    display: block;
    max-width: 2.5rem;
    max-height: 2.5rem;
    min-height: 2.5rem;
    border-radius: 50%; }
    .phone-block a span {
      display: none; }
    .phone-block a img:first-child {
      display: none; }
    .phone-block a img:nth-child(2) {
      display: block;
      width: 100%;
      margin-right: 0; }
  .social-icon,
  .phone__order-btn-wrapper,
  .list-inline,
  .subheader,
  .header:after,
  .logo-wrapper:after,
  .logo-wrapper:before,
  .logo-wrapper-outside:after,
  .logo-wrapper .logo:after, .logo-wrapper .logo:before {
    display: none; }
  .logo-wrapper .logo a img {
    width: 100%;
		margin-top: 3px; }
	.logo-wrapper-outside {
		max-width: 60%;
	}
  .header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header_top {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    padding-top: 0.4rem !important; }
  .menu-btn.menu-btn {
    display: block; } }

.sidebar-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0; }
.sidebar-overlay.show {
	display: block!important; }


.search {
  position: relative; }
  .search label {
    cursor: pointer; }
  .search input {
    position: absolute;
    right: 4rem;
    top: 0;
    border: 0;
    z-index: 99;
    font-weight: normal;
    outline: none;
    color: #000;
    opacity: 0;
    font-size: 0.85rem;
    width: 0;
    padding-bottom: 0.25rem;
    -webkit-animation-name: search;
    animation-name: search;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    border-bottom: 1px solid #9f8c6b;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
    .search input.active-search {
      display: block; }

@-webkit-keyframes search {
  from {
    opacity: 0;
    width: 0; }
  to {
    opacity: 1;
    width: 15rem; } }

@keyframes search {
  from {
    opacity: 0;
    width: 0; }
  to {
    opacity: 1;
    width: 15rem; } }

@media (max-width: 992px) {
  .search input {
    top: -0.3rem;
    padding-left: 1rem;
    min-height: 3rem;
    width: 100%;
    max-width: 12rem; } }