
.title-page__wrap {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	h2{
		position: relative;
		z-index: 1;
		background-color: #fefcf9;
		padding: 0 17px;
		text-align: center;
	}
	span{
		color: $cow;
	}
	&::after {
		content: '';
		position: absolute;
		height: 1.5px;
		background-color: #b29c77;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}


.products-items{
	background-color: #fefcf9;
	padding: 67px 0 0 0;
}

.products-items-list {
	margin: 0 -22px;
	@include media-breakpoint-down(xl){
		justify-content: center;
	}
}

.product__item {
	display: flex;
	flex-flow: column;
	padding: 45px;
	width: 100%;
	text-align: center;
	box-shadow: 0 0 0 rgba(116, 97, 69, 0.25);
	transition: box-shadow .3s ease-in-out;
	position: relative;
	background-color: #ffffff;
	
	&:hover {
		box-shadow: 0 0 59px rgba(116, 97, 69, 0.25);
		
		&::before {
			opacity: 1;
		}
		
		.product__item-btn-wrapper {
			&::before{
				opacity: 1;
			}
		}
		
		.btn-primary {
			color: #ffffff;
			
			&::before {
				opacity: 0;
			}
			
			&::after {
				opacity: 0;
			}
			
			span {
				&::after {
					display: none;
				}
			}
		}
	}
	
	&::before {
		content: '';
		position: absolute;
		top: 9px;
		right: 9px;
		bottom: 9px;
		left: 9px;
		border: 1px solid #d2b78c;
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}
	
	&-wrapper {
		padding: 11px 12px;
		width: 293px;
		display: flex;
	}
	
	
	&-img {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 51px;
	}
	
	&-mark {
		color: #d2b78c;
		font-size: 14px;
		font-style: italic;
		line-height: 17.97px;
		margin-bottom: 27px;
		font-family: "HelveticaNeueCyr";
		position: relative;
		
		&::after {
			content: '';
			width: 3px;
			height: 3px;
			background-color: #b29c77;
			border-radius: 50%;
			position: absolute;
			bottom: -12px;
			right: 0;
			left: 0;
			margin: 0 auto;
		}
	}
	
	&-title {
		color: #000000;
		font-size: 24px;
		font-weight: 600;
		line-height: 17.97px;
		margin-bottom: 35px;
		font-family: 'Simeiz';
		height: 100%;
	}
	
	&-property {
		color: #000000;
		font-size: 15px;
		font-weight: 400;
		line-height: 17.97px;
		margin-bottom: 43px;
		font-family: "HelveticaNeueCyr";
		flex-flow: wrap;
	}
	
	&-btn-wrapper {
		width: 90%;
		margin: 0 auto;
		background-color: transparent;
		transition: background-color .3s ease-in-out;
		position: relative;
		cursor: pointer;
		
		&::after {
			content: '';
			width: 20px;
			background-color: #fff;
			position: absolute;
			bottom: -2px;
			top: -2px;
			left: 0;
			right: 0;
			margin: 0 auto;
			opacity: 1;
		}
	
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			background-color: #ff8e00;
			transition: opacity .3s ease-in-out;
			z-index: 2;
		}
	}
}
