::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html{
	overflow-x: hidden !important;
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}



// Settings

header, section{
	position: relative;
}

h1, h2, h3, h4, h5, h6{
	line-height: 1.2;
	margin: 0;
}

// h1-h6

h1 {
	font-size: 100px;
	font-family: "Simeiz";
	font-weight: 400;
	line-height: normal;
	color: #fff;
}
h2 {
	font-size: 36px;
	font-family: "Simeiz";
	color: $text;
	font-weight: 400;
	text-transform: uppercase;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 24px;
	font-weight: 400;
	font-family: "Simeiz";
	color: #000;
}
h6 {
	font-size: 18px;
}

p {
	margin-bottom: 0;
}

// Links

a {
	color: $accent;
	text-decoration: none;
	&:focus, &:hover, &:active {
		text-decoration: none;
	}
	&:hover{
		color: #fff;
	}
}

// List
ul, li {
	padding: 0;
	margin: 0 ;
	list-style-type: none;
}
// Button

button {
	outline: none;
	cursor: pointer;
}


// FlexBoxesss

.flex {
	display: flex;
}

.flex-wrap{
	flex-wrap: wrap;
}

.align-items{
	align-items: center;
}

.justify-content-between{
	justify-content: space-between;
}

.flex-grow-1{
	flex-grow: 1;
}

.ref-path {
	padding: 40px 0;
	ul{
		display: flex;
		flex-flow: wrap;
		li{
			padding: 0 7px;
			a{
				color: #000;
				transition: color .4s ease, text-shadow .4s ease;
				&:hover{
					color: $accent;
					text-shadow: 2px 2px 2px $accent;
				}
			}
			&:last-child{
				a{
					color: $accent;
				}
			}
		}
		li:not(:last-child){
			border-right: 1px solid $text;
		}
	}
}